* {
    margin: 0;
    padding: 0;
}

.header_box {
    background-color: black;
}
.header_box nav{
    display: flex;
    justify-content: space-between;
}

.header_box nav ul{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.header_box nav a{
    padding: 0 32px;
}

.logo {
    
    width: 100%;
    height: 72px;
}

.logo >a >img {
    height: 100%;
    text-align: center;
    padding: 0 32px;
}

.header_box a {
    text-decoration :none;
    font-weight: bold;
    font-size: 20px;
    color: #EEEEEE
}
.header_box ul, li{
    list-style: none;
    text-align: center;

}
.menu {
    padding: 26px 0px;
    justify-content: center;
    align-items: center;
 
}

.menu > li > a > img{
    width: 20px;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    font-size: 100px;
    font-weight: bold;
    background-image: url("img/3.jpg");
    background-size : cover;
}

.t_1 {
    color:white;
    font-size: 100px;
    font-weight: bold;    
    background-color: blueviolet;
}

.t_2 {
    color: darkturquoise;
    font-size: 50px;
    font-weight:normal;    
    background-color: black;
}

.main {
    margin: 20px 100px;
}

.main > div > p {
    font-size: 30px;
    font-weight: bold;
    padding: 0 0 20px 0;
}

.main > .text_board {
    display: flex;
    justify-content:space-around;
}

.main .text a {
    font-weight: bold;
    font-size: 15px;
    color: black;
    text-decoration :none;
}

.main > .text_board >.left_note {
    width: 45%;
}

.main > .text_board >.left_note > .img > img{
    width: 100%;
}

.main > .text_board > .left_note > .text > a {
    color: black;
}

.btn {
    border: black 3px solid;
    background-color: white;
    padding: 0 5%;
    margin: 5px 0;
}

.btn > a {
    text-decoration :none;
    font-weight: bold;
    font-size: 15px;
    color: black;

}


.main > .text_board >.right_note {
    width: 45%;
}

.main > .text_board >.right_note > .img > img{
    width: 100%;
}

.main > .text_board > .right_note > .text > a {
    color: black;
}

.bottom_line {
    display: flex;
    align-items: center;
    height: 250px;
    margin: 0 100px;
    background-color: black;
    color: white;
    padding-left: 40px;
}

.bottom_line .quick_links {
    flex-grow: 3;
    text-align: left;
}
.bottom_line .quick_links > ul li {
    text-align: left;
}

.bottom_line .right_footer {
    flex-grow: 7;
    font-size: 30px;
}